@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  font-weight: 400;
  src: local('Josefin Sans Regular'), url('../../public/fonts/JosefinSans-Regular.ttf') format('ttf'),
    url('../../public/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  font-weight: 700;
  src: local('Josefin Sans Bold'), url('../../public/fonts/JosefinSans-Bold.ttf') format('ttf'),
    url('../../public/fonts/JosefinSans-Bold.ttf') format('truetype');
}

